[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "quadtree"]
	path = quadtree
	url = https://github.com/dfriend21/quadtree
	shallow = true
	registered = true
